/* CSS reset */
body {
    margin: 0;
}

#root {
    color: white;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    background: url('/assets/bgs/Opalset.jpg') right bottom / 1100px no-repeat fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

/* The only way to live */
*,
*::before,
*::after {
    box-sizing: border-box;
}
